.banner {
  background-size: 950px;
  background-position: center;
  padding: 100px 0;
}

.banner h1 {
  margin-left: 250px;
  color: $yellow;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 92px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  margin-left: 280px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
